.search {
  width: var(--search-width);
}

.search-bar {
  background-color: var(--light-gray-color);
  border: none;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  color: var(--white-color);
  outline: none;
  padding: calc(var(--margin) + 2px) calc(var(--margin) / 2) var(--margin);
  width: 100%;
}

.search-results {
  margin-top: var(--margin);
  height: 300px;
  overflow-y: scroll;
}

.search-result-item {
  border-radius: var(--border-radius);
  display: flex;
  cursor: pointer;
  flex-direction: column;
  padding: calc(var(--margin) / 2);
  transition: background-color 100ms;
  user-select: none;
}

.search-result-item:hover {
  background-color: var(--dark-gray-color);
}

.search-result-item-caption {
  color: var(--light-gray-color);
  font-size: 85%;
  margin-top: -2px;
}
