.search {
  width: var(--search-width);
}

.search-results {
  margin-top: var(--margin);
  overflow-y: scroll;
}

.search-result-message {
  color: var(--light-gray-color);
  text-align: center;
}

.search-result-category-name {
  color: var(--light-gray-color);
  font-size: 95%;
}
