.search-engine-settings-item {
  align-items: center;
  border-radius: var(--border-radius);
  cursor: pointer;
  display: flex;
  padding: calc(var(--margin) / 2);
  transition: background-color 100ms;
}

.search-engine-settings-item:hover {
  background-color: var(--dark-gray-color);
}

.search-engine-settings-item-selected {
  background-color: var(--main-color);
}

.search-engine-settings-item-selected:hover {
  background-color: var(--main-color);
}

.search-engine-settings-item-content {
  align-items: center;
  display: flex;
  gap: calc(var(--margin) / 2);
  overflow-x: hidden;
  width: calc(100% - 16px - (var(--margin) / 2));
}

.search-engine-settings-item-command {
  background-color: var(--light-gray-color);
  border-radius: var(--border-radius);
  font-size: 80%;
  padding: 0 3px 1px;
}

.search-engine-settings-item-selected
.search-engine-settings-item-command {
  background-color: var(--light-main-color);
}

.search-engine-settings-item-edit {
  color: var(--light-gray-color);
  margin-left: calc(var(--margin) / 2);
  opacity: 0;
  transition: opacity 100ms;
}

.search-engine-settings-item:hover
.search-engine-settings-item-edit {
  opacity: 1;
}

.search-engine-settings-item-selected
.search-engine-settings-item-edit {
  color: var(--light-main-color);
}

.search-engine-settings-edit {
  background-color: var(--black-color);
  border-radius: var(--border-radius);
  margin: calc(var(--margin) / 2) 0;
  width: 100%;
}

.search-engine-settings-edit-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-engine-settings-edit-item-name {
  color: var(--light-gray-color);
  font-size: 85%;
  margin-bottom: 1px;
}
