.search-result-item {
  border-radius: var(--border-radius);
  display: flex;
  cursor: pointer;
  padding: calc(var(--margin) / 2);
  transition: background-color 100ms;
  user-select: none;
}

.search-result-item:hover {
  background-color: var(--dark-gray-color);
}

.search-result-item-selected {
  --light-gray-color: var(--light-main-color);

  background-color: var(--main-color);
}

.search-result-item-selected:hover {
  background-color: var(--main-color);
}

.search-result-item-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-result-item-content-left {
  display: flex;
  flex-direction: column;
}

.search-result-item-text {
  height: 1.5em;
  overflow: hidden;
  word-break: break-all;
}

.search-result-item-caption {
  color: var(--light-gray-color);
  font-size: 85%;
  margin-top: -2px;
}

.search-result-item-content-right {
  align-items: center;
  display: flex;
}

.search-result-item-tag {
  background-color: var(--light-gray-color);
  border-radius: var(--border-radius);
  font-size: 80%;
  margin-left: 8px;
  padding: 1px 3px;
}
