.settings {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: var(--settings-width);
}

.settings-title {
  color: var(--light-gray-color);
  font-weight: bold;
}

.settings-content {
  height: var(--settings-content-height);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
}

.settings-buttons {
  display: flex;
  justify-content: center;
  margin-top: var(--margin);
  width: 100%;
}
