.settings {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: var(--settings-width);
}

.settings-title {
  color: var(--light-gray-color);
  font-weight: bold;
  margin-bottom: var(--margin);
}

.settings-content {
  height: var(--settings-content-height);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 100%;
}

.settings-hyperlink {
  color: var(--light-gray-color);
  font-size: 90%;
}

.settings-buttons {
  display: flex;
  justify-content: center;
  margin-top: var(--margin);
  width: 100%;
}

.settings-caption {
  align-items: center;
  color: var(--light-gray-color);
  display: flex;
  flex-direction: column;
  gap: 1px;
  font-size: 85%;
  margin-top: 8px;
}

.settings-caption-row {
  display: flex;
  gap: var(--margin);
}

.settings-caption-hyperlink {
  cursor: pointer;
  color: var(--light-gray-color);
  text-decoration: underline;
}
